* {
    margin: 0;
    padding: 0;
}

.logo-height {
    width: 70px;
    height: 70px;
    margin-left: 12px;
}

.main {
    width: 100%;
    height: auto;
    background: rgb(0, 0, 14);
    background: linear-gradient(103deg, rgba(0, 0, 14, 1) 24%, rgba(251, 250, 255, 0) 97%), url('Images/cover-6.jpg');
    background-size: cover;
}

.main-content {
    color: #FFFFFF;
    /* padding: 30px; */
    padding-left: 20px;
    padding-bottom: 20px;
}

.main-content h1 {
    margin-top: 30px;
    font-style: oblique;
}

.main-content h2 {
    font-style: oblique;
    font-weight: normal;
    margin-top: 50px;
}

.para {
    max-width: 50%;
}

.main-btn {
    margin-top: 20px;
    width: 200px;
    margin-left: -20px;
    height: 200px;
    /* background: #FFFFFF; */
    background: rgb(220, 238, 238);
    background: linear-gradient(90deg, rgb(136, 224, 224) 0%, rgb(71, 200, 226) 84%);
    text-align: center;
    padding-top: 8px;
    clip-path: polygon(20% 0%, 98% 0, 88% 21%, 10% 21%);
    cursor: pointer;
}

.custom-shape-divider-bottom-1705364871 {
    left: 0;
    margin-top: -150px;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1705364871 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 103px;
}

.custom-shape-divider-bottom-1705364871 .shape-fill {
    fill: #FFFFFF;
}

.nav-hover:hover {
    color: rgb(71, 200, 226);
}

.main-content-second-heading {
    color: rgb(71, 200, 226);

}

.section-2 {
    display: flex;
    /* flex-wrap: ; */
    justify-content: space-around;
}

.parent-1,
.parent-3 {
    display: flex;
    margin: 10px;
}

.parent-2 {
    text-align: center;
    margin: auto;
    padding: 5px;
}

.parent-2 h3 {
    font-weight: bold;
    font-size: 15px;
}

.parent-2 h2 {
    font-size: 28px;
    font-weight: bold;
    color: rgb(71, 200, 226);

}


.child-1 {
    width: 160px;
    height: 280px;
    margin: 5px;
    background: url('Images/pic1crop2.jpg');
    background-size: cover;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    border-bottom: 5px solid rgb(71, 200, 226);
}

.child-2 {
    width: 160px;
    height: 280px;
    margin: 5px;

    background: url('Images/pic1crop.jpg');
    background-size: cover;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    border-bottom: 5px solid rgb(71, 200, 226);

}

.child-3,
.child-4 {
    width: 160px;
    height: 280px;
    margin: 5px;
    border-bottom: 5px solid rgb(71, 200, 226);

}

.child-3 {
    background: url('Images/pic1crop.jpg');
    background-size: cover;

}

.child-4 {
    background: url('Images/pic1crop2.jpg');
    background-size: cover;

}

.about-us {
    text-align: center;
    margin-top: 30px;
}

.about-us p {
    width: 80%;
    margin: auto;
}

.about-us h2 {
    color: rgb(71, 200, 226);
    font-size: 28px;
    font-weight: bold;
}

.about-us div {
    margin: 15px auto;
    color: #FFFFFF;
}

.Services {
    margin-top: -100px;
}

.Services h2 {
    color: rgb(71, 200, 226);
    font-size: 30px;
    font-weight: bold;
    text-align: center;

}

@media (max-width: 980px) {

    .child-1,
    .child-2 {
        width: 130px;
        height: 200px;
    }

    .child-3,
    .child-4 {
        width: 130px;
        height: 200px;
    }

}



@media (max-width: 767px) {
    .section-2 {
        display: block;
    }

    .parent-1,
    .parent-3 {
        justify-content: center;
    }

    .para {
        max-width: 70%;
    }

    .custom-shape-divider-bottom-1705364871 svg {
        width: calc(100% + 1.3px);
        height: 65px;
    }

    .parent-2 {
        width: 80%;
    }

    .parent-2 h2 {
        font-size: 22px;
        margin: 10px;
    }
}