@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.logo-height {
    width: 70px;
    height: 70px;
    margin-left: 12px;
}

.main {
    width: 100%;
    height: auto;
    background: rgb(0, 0, 14);
    background: linear-gradient(103deg, rgba(0, 0, 14, 1) 24%, rgba(251, 250, 255, 0) 97%), url('Images/cover-6.jpg');
    background-size: cover;
}

.main-content {
    padding-left: 20px;
    padding-bottom: 20px;
    color: #FFFFFF;
    /* padding: 30px; */
    animation: 1s ease-out 0s 1 slideInFromLeft;

}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.main-content h1 {
    margin-top: 30px;
    font-style: oblique;
}

.main-content h2 {
    font-style: oblique;
    font-weight: normal;
    margin-top: 50px;
}

.para {
    max-width: 50%;
}

.main-btn {
    margin-top: 20px;
    width: 200px;
    margin-left: -20px;
    height: 200px;
    background: rgb(220, 238, 238);
    background: linear-gradient(90deg, rgb(136, 224, 224) 0%, rgb(71, 200, 226) 84%);
    text-align: center;
    padding-top: 8px;
    clip-path: polygon(20% 0%, 98% 0, 88% 21%, 10% 21%);
    cursor: pointer;
    color: white;
}
.main-btn button{
    width: 100%;
}
.model-btn{
    width: 150px;
    height: 150px;
    font-size: 0.7rem;
}

.custom-shape-divider-bottom-1705364871 {
    left: 0;
    margin-top: -150px;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1705364871 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 103px;
}

.custom-shape-divider-bottom-1705364871 .shape-fill {
    fill: #FFFFFF;
}

.nav-hover:hover {
    color: rgb(71, 200, 226);
}

.main-content-second-heading {
    color: rgb(71, 200, 226);

}

.section-2 {
    display: flex;
    /* flex-wrap: ; */
    justify-content: space-around;
}

.parent-1,
.parent-3 {
    display: flex;
    margin: 10px;
}

.parent-2 {
    text-align: center;
    margin: auto;
    padding: 5px;
}

.parent-2 h3 {
    font-weight: bold;
    font-size: 15px;
}

.parent-2 h2 {
    font-size: 28px;
    font-weight: bold;
    color: rgb(71, 200, 226);

}


.child-1 {
    width: 160px;
    height: 280px;
    margin: 5px;
    background: url('Images/pic1crop2.jpg');
    background-size: cover;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    border-bottom: 5px solid rgb(71, 200, 226);
}

.child-2 {
    width: 160px;
    height: 280px;
    margin: 5px;

    background: url('Images/pic1crop.jpg');
    background-size: cover;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    border-bottom: 5px solid rgb(71, 200, 226);

}

.child-3,
.child-4 {
    width: 160px;
    height: 280px;
    margin: 5px;
    border-bottom: 5px solid rgb(71, 200, 226);

}

.child-3 {
    background: url('Images/pic1crop.jpg');
    background-size: cover;

}

.child-4 {
    background: url('Images/pic1crop2.jpg');
    background-size: cover;

}

.about-us {
    text-align: center;
    margin-top: 30px;
}

.about-us p {
    width: 80%;
    margin: auto;
}

.about-us h2 {
    color: rgb(71, 200, 226);
    font-size: 28px;
    font-weight: bold;
}

.about-us div {
    margin: 15px auto;
    color: #FFFFFF;
}

.Services {
    margin-top: -100px;
}

.Services h2 {
    color: rgb(71, 200, 226);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;

}

.service-div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 40px;
    margin-top: 20px;
}

.service-div div {
    /* background-color: #bbbbbb; */
    width: 200px;
}

.service-div div h3 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 15px;
}

.service-div div p {
    color: #6b7280;
    font-size: 0.8rem;
}

.service-div div a {
    text-transform: uppercase;
    font-size: 0.7rem;
    color: rgb(71, 200, 226);
}

.service-div div a span {
    font-size: 1.5rem;
}

.Services .service-image {
    width: 200px;
    height: 150px;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    background-size: cover;
    /* margin-left:100px; */
}

.service-1 .service-image {
    background-image: url('Images/full-detail.jpg');
}

.service-2 .service-image {
    background-image: url('Images/interior-1.jpg');
}

.service-3 .service-image {
    background-image: url('Images/exterior-cleaning.jpeg');
}

.service-4 .service-image {
    background-image: url('Images/engine-bay.jpg');
}

.service-5 .service-image {
    background-image: url('Images/carpet-cleaning.jpg');
}














.real-fact {
    background: rgb(107, 175, 175);
    background: linear-gradient(90deg, rgba(107, 175, 175, 0.5) 0%, rgba(2, 45, 54, 0.6615021008403361) 100%), url('Images/cover.jpeg');
    /* background: ; */
    background-size: cover;
    width: 100%;
    height: 250px;
    background-position: center;
    color: #FFFFFF;
    padding-top: 40px;
}

.real-fact-info {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.real-fact>h2,
.real-fact>p {
    text-align: center;
}

.real-fact>h2 {
    font-size: 28px;
    font-weight: bold;
}

.real-fact>p {
    opacity: 0.7;
}

.real-fact-info div {
    /* background-color: black; */
    /* color: #FFFFFF; */
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.real-fact-info div i {
    font-size: 40px;
}

.real-fact-info div span {
    font-size: 18px;
}

.real-fact-info div p {
    margin-top: 10px;
    font-size: 14px;
}

.contact-us {
    width: 80%;
    text-align: center;
    margin: auto;
}

.contact-us>h2 {
    font-size: 28px;
    /* margin: 20px 0; */
    margin-top: 50px;
    margin-bottom: 10px;
    color: rgb(71, 200, 226);
    font-weight: bold;
}

.contact-us>p {
    width: 300px;
    margin: auto;
    margin-bottom: 50px;
    font-size: 15px;
}

.contact-us input {
    width: 45%;
    margin: 20px 0;
    border: 1px solid rgb(71, 200, 226);
    padding: 15px;
}

.contact-btn {
    margin: auto;
    color: #FFFFFF;
    margin-top: 40px;
}

.contact-us textarea {
    width: 90%;
    border: 1px solid rgb(71, 200, 226);

}

.reviews {
    height: fit-content;
    /* margin-bottom: 50px; */
    margin-top: -100px;
}

.review-1 {

    padding-top: 20px;
    width: 100%;
    text-align: center;
}

.review-1 img {
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 20px;
    border-radius: 100%;
    padding: 2px;
    border: 2px solid rgb(71, 200, 226);

}

.review-cover {
    /* background: rgb(49,62,62);
    background: linear-gradient(90deg, rgba(49,62,62,0.5) 0%, rgba(149,237,255,0.6615021008403361) 89%); */

}

.review-1 i {
    color: #f39c12;
    font-size: 16px;
    margin: 5px;
}

.review-1 h2 {
    font-size: 20px;
    margin: 5px;
    font-weight: bold;
}

.review-1 p {
    font-size: 20px;
    width: 70%;
    margin: auto;
    padding-bottom: 20px;
}


.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #24262b;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: rgb(71, 200, 226);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li {
    color: #bbbbbb;

}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    background-color: #ffffff;
    color: rgb(71, 200, 226);
}

.goTotop {
    display: none;
    position: fixed;
    bottom: 10%;
    right: 5%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    background: rgb(71, 200, 226);
}

/*responsive*/
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}


@media (max-width: 980px) {
    .parent-2 h2 {
        font-size: 24px;
    }

    .child-1,
    .child-2 {
        width: 130px;
        height: 200px;
    }

    .child-3,
    .child-4 {
        width: 130px;
        height: 200px;
    }

    /* .footer{
        flex-wrap: wrap;
        justify-content: left;
    } */
}

@media (max-width: 767px) {
    .footer {
        /* display: block; */
    }

    .section-2 {
        display: block;
    }

    .parent-1,
    .parent-3 {
        justify-content: center;
    }

    .para {
        max-width: 70%;
    }

    .custom-shape-divider-bottom-1705364871 svg {
        width: calc(100% + 1.3px);
        height: 65px;
    }

    .parent-2 {
        width: 80%;
    }

    .parent-2 h2 {
        font-size: 22px;
        margin: 10px;
    }

    .real-fact>p {
        font-size: 10px;
    }

    .real-fact-info div i {
        font-size: 22px;
    }

    .real-fact-info div span {
        font-size: 12px;
    }

    .real-fact-info div p {
        font-size: 10px;
    }

    .review-1 p {
        font-size: 16px;
    }
}